@model MvcCv.Models.Entity.TblSkills

@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Skill</h4>
<br />
<form method="post">
    @Html.Label("Skill")
    @Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
    <br />
    @Html.Label("Progress %")
    @Html.TextBoxFor(x => x.Progress, new { @class = "form-control" })
    <button class="btn btn-success" onclick="return confirm('Are you sure?');">Save</button>
    <a href="@Url.Action("CancelEdit", "Skills")" class="btn btn-danger" onclick="return confirm('Are you sure you want to discard the changes?');">Cancel</a>

</form>


<script>
    function autoExpand(element) { //textarea'yı içeriğe göre genişleten fonksiyon
        element.style.height = "auto";
        element.style.height = element.scrollHeight + "px";
    }</script>


