@using MvcCv.Models.Entity
@model List<TblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Skills</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Task</th>
                                            <th>Progress</th>
                                            <th style="width: 40px">Label</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            // Renk atama
                                            string progressColor = "bg-danger"; // Varsayılan olarak kırmızı
                                            if (item.Progress >= 0 && item.Progress <= 30)
                                            {
                                                progressColor = "bg-warning"; // Turuncu
                                            }
                                            else if (item.Progress > 30 && item.Progress <= 60)
                                            {
                                                progressColor = "bg-primary"; // Mavi
                                            }
                                            else if (item.Progress > 60 && item.Progress <= 100)
                                            {
                                                progressColor = "bg-success"; // Yeşil
                                            }

                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Skill</td>
                                                <td style="display: flex; align-items: center; justify-content: center; height: 50px;">
                                                    <div class="progress progress-xs" style="width: 80%;">
                                                        <div class="progress-bar @progressColor" style="width: @item.Progress%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="badge @progressColor">@item.Progress%</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

