@using MvcCv.Models.Entity
@model List<TblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title" style="font-size:2em ">Skills</h1>
                            </div>
                            <div class="card-body">
                                <a href="/Skills/AddSkill" class="btn btn-info" style="margin-bottom:20px">Add Skill</a>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px; vertical-align: middle;">#</th>
                                            <th style="vertical-align: middle;">Task</th>
                                            <th style="vertical-align: middle;">Progress</th>
                                            <th style="width: 40px; vertical-align: middle;">Label</th>
                                            <th style="width:5%; vertical-align: middle;">Delete</th>
                                            <th style="width:5%; vertical-align: middle;">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            // Renk atama
                                            string progressColor = "bg-danger"; // Varsayılan olarak kırmızı
                                            if (item.Progress >= 0 && item.Progress <= 30)
                                            {
                                                progressColor = "bg-warning"; // Turuncu
                                            }
                                            else if (item.Progress > 30 && item.Progress <= 60)
                                            {
                                                progressColor = "bg-primary"; // Mavi
                                            }
                                            else if (item.Progress > 60 && item.Progress <= 100)
                                            {
                                                progressColor = "bg-success"; // Yeşil
                                            }

                                            <tr>
                                                <td style="vertical-align: middle;">@item.ID</td>
                                                <td style="vertical-align: middle;">@item.Skill</td>
                                                <td style="vertical-align: middle;">
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar @progressColor" style="width: @item.Progress%"></div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align: middle;"><span class="badge @progressColor">@item.Progress%</span></td>
                                                @*<td style="vertical-align: middle;"><a href="#" class="btn" style="background-color:#e4e4e4;border:3px solid #ff0000">Delete</a></td>
                                                    <td style="vertical-align: middle;"><a href="#" class="btn" style="background-color:#e4e4e4;border:3px solid #0069d9">Edit</a></td>*@
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/Skills/DeleteSkill/@item.ID" onclick="return confirm('Are you sure?');">
                                                        <i class="fas fa-trash"></i>
                                                        Delete
                                                    </a>
                                                </td>
                                                <td style="display: flex; align-items: center; justify-content: center;">
                                                    <a class="btn btn-info btn-sm" href="/Skills/EditSkill/@item.ID">
                                                        <i class="fas fa-pencil-alt" style="margin-right: 5px;"></i>
                                                        Edit
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

