@model MvcCv.Models.Entity.TblExperiences
@{
    ViewBag.Title = "GetExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Edit Experience</h4>
<form>
    @Html.Label("Experience ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Company")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Job Title")
    @Html.TextBoxFor(x => x.Sub_Title, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Details")
    @Html.TextAreaFor(x => x.Details, new { @class = "form-control", oninput = "autoExpand(this)" })
    <br />
    <button class="btn btn-info">Submit</button>
</form>


<script>
function autoExpand(element) { //textarea'yı içeriğe göre genişleten fonksiyon
    element.style.height = "auto";
    element.style.height = element.scrollHeight + "px";
}</script>

