@using MvcCv.Models.Entity;
@model List<TblExperiences>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
    <h3>Experiences List</h3>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Job Title</th>
            <th>Details</th>
            <th>Date</th>
            <th>Delete</th>
            <th>Edit</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Sub_Title</td>
                <td>@item.Details</td>
                <td>@item.Date</td>
                <td><a href="/Experiences/DeleteExperience/@item.ID" class="btn btn-danger" onclick="return confirm('Bu öğeyi silmek istediğinize emin misiniz?');">Delete</a></td>
                <td><a href="/Experiences/GetExperience/@item.ID" class="btn btn-success" onclick="return confirm('Değişiklikleri kaydetmek istediğinize emin misiniz?');">Edit</a></td>


            </tr>
}
    </table>
    <a href="/Experiences/AddExperience/" class="btn btn-primary">Add New Experience</a>



