@model MvcCv.Models.Entity.TblSertificates
@{
    ViewBag.Title = "AddCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Add Certificate</h4>
<br />
<form method="post">
    @Html.Label("Details")
    @Html.TextBoxFor(x => x.Detail, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" onclick="return confirm('Are you sure?');">Save</button>
    <a href="@Url.Action("CancelEdit", "Certificate")" class="btn btn-danger" onclick="return confirm('Are you sure you want to discard the changes?');">Cancel</a>

</form>

